/* блок header(шапка) */
  .header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px;
  }

  .header__links-list {
  display: flex;
  align-items: center;
  }

  .header__links-list-main {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style-type: none;
  }

  .header__links-list-item {
  display: list-item;
  list-style-type: circle;
  border-bottom: 1px solid black;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  .header__links-list-item_no-bullit {
  list-style: none;
  }

  .header__link {
  text-decoration: none;
  }

  .header__link_active {
  border: none;
  }
  
  .header__logo {
    display: grid;
    align-content: start;
    width: 138px;
    height: 105px;
  }
  
  .header__logo-image {
    display: block;
    align-content: start;
  }
  
  .header__address {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .contacts-element {
    width: 240px;
    padding-right: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.6px;
  }
  
  .address-item {
    text-decoration: none;
    display: flex;
    align-self: flex-start;
    border-bottom: 0.5px solid black;
  }
  
  /* блок cover */
  .cover {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 757px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between; 
    font-size: 1100px;   
  }
  
  .overlay {
    opacity: 0.6;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .cover__title {
    color: #FFF;
    z-index: 1;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    display: grid;
    padding: 173px 50px 0;
    gap: 25px;
  }
  
  .aligned-text {
    display: flex;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    letter-spacing: 0.3em;
    width: auto;
  }

  .aligned-text_left {
    justify-content: flex-start;
  }

  .aligned-text_center {
    width: 100%;
    justify-content: center;
    align-content: center;
  }

  .aligned-text_right {
    width: 100%;
    justify-content: flex-end;
  }
  
  .cover__description {
    z-index: 1;
    width: 100%;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: end;
    align-items: center;
    max-width: 1440px;
    padding: 118px 50px 50px 50px;
}

.cover__description-text {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    word-spacing: 18px;
    text-transform: uppercase;
    padding-right: 78px;
}

.bet-button {
    font-size: 22px;
    text-transform: uppercase;
    color: #FFF;
    border: 1px solid #ffffff;
    background: transparent;
    z-index: 3;
    padding: 12px 30px 12px 33px;
}
  
  /* блок  lots*/
  .lots {
    padding: 180px 50px 90px 50px;
  }
  
  .lots__heading {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 14px;
  }
  
  .lots__card-list {
    display: flex;
    gap: 25px;
    justify-content: center;
    list-style: none;
    margin: 28px 0;
    min-width: 25px;
  }
  
  .card-link {
    text-decoration: none;
  }
  
  .cards {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 596px;
    width: 334px;
    padding: 48px 40px;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .card_type_film {
    background-image: url(../images/card-lot-01.jpg);
  }
  
  .card_type_book {
    background-image: url(../images/card-lot-02.jpg);
  }
  
  .card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
  }
  
  .card__title {
    z-index: 1;
    color: #fff;
    font-size: 22px;
    line-height: 115%;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
  
  .card__text {
    z-index: 1;
    color: #fff;
    font-size: 20px;
  }
  
  .lots__look-more-link {
    font-size: 20px;
    margin-left: 14px;
    text-decoration: none;
      border-bottom: 1px solid;
  }
  
  /* блок about */
  .about {
    margin: 0 24px 180px;
    display: grid;
    grid-template-columns: 335px 1fr;
    justify-items: center;
    padding-top: 2px;
  }
  
  .about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 120px;
  }
  
  .about__logo-image {
    width: 148px;
    height: 114px;
  }
  
  .about__column {
    padding-left: 25px;
  }
  
  .about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 100px 0;
  }
  
  .about__column-text {
    display: flex;
    gap: 25px;
    flex-direction: column;
  }
  
  .about__text {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.01px;
  }
  
  /* блок footer(подвал) */
  .footer {
    display: flex;
    padding: 1px 50px 82px 50px;
    justify-content: space-between;
  }
  
  .footer__links-list {
    list-style: none;
    text-align: center;
  }
  
  .footer__link {
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid;
  }
  
  .footer__link_active {
    border-bottom: none;
  }
  
  .footer__menu {
    text-align: center;
    margin-left: 34px;
  }
  
  .footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
  }
  
  .footer__social-icon {
    width: 48px;
  }